In [1]:
import pandas as pd
import requests
import json
import numpy as np
from bs4 import BeautifulSoup
from datetime import datetime
from dateutil.relativedelta import relativedelta
from tqdm import tqdm
import time
time.sleep(0.3)
from pykrx import stock
import dart_fss as dart
from dart_fss.errors import NotFoundConsolidated
pd.options.display.float_format = '{:.6f}'.format

In [2]:
cdf = pd.read_csv('data/company_name_and_code.csv', index_col = 0)
cdf

     corp_code  corp_name  stock_code
0       365387     AJë„¤íŠ¸ì›ìŠ¤       95570
1       125080      AKí™€ë”©ìŠ¤        6840
2       219097        BGF       27410
3      1263022     BGFë¦¬í…Œì¼      282330
4       858364    BNKê¸ˆìœµì§€ì£¼      138930
..         ...        ...         ...
726     111421  íœ´ë‹ˆë“œí…Œí¬ë†€ëŸ¬ì§€ìŠ¤        5870
727     362238        íœ´ë¹„ìŠ¤       79980
728     156488        íœ´ìŠ¤í‹¸        5010
729     103176       í¥êµ­í™”ì¬         540
730     167208       í¥ì•„í•´ìš´        3280

[731 rows x 3 columns]

In [3]:
my_key = pd.read_csv('data/dart_key.txt', header = None)[0][0]

In [4]:
def revenue(cdf, my_key, start_year=2019, end_year=2024):

    base_url = 'https://opendart.fss.or.kr/api/fnlttSinglAcntAll.xml'
    reprt_code = '11011'  # ì‚¬ì—…ë³´ê³ ì„œ

    corp_map = cdf[['corp_code', 'corp_name']].copy()
    corp_map['corp_code'] = corp_map['corp_code'].astype(str).str.zfill(8)
    corp_codes = corp_map['corp_code']

    year_dfs = {}

    revenue_account = 'ifrs-full_Revenue'  # ë§¤ì¶œì•¡

    for year in range(start_year, end_year + 1):
        print(f"\n=== {year}ë…„ ì§„í–‰ ===")
        all_dfs = []

        for idx, code in enumerate(
            tqdm(corp_codes, desc=f"{year}ë…„ ê¸°ì—… ì§„í–‰", ncols=100),
            start=1
        ):

            def fetch_financial(fs_div):
                params = {
                    'crtfc_key': my_key,
                    'corp_code': code,
                    'bsns_year': str(year),
                    'reprt_code': reprt_code,
                    'fs_div': fs_div
                }

                try:
                    r = requests.get(base_url, params=params, timeout=10)
                    r.raise_for_status()
                except requests.RequestException:
                    return None, None

                soup = BeautifulSoup(r.text, "lxml-xml")

                status = soup.find('status')
                if status and status.text != '000':
                    return None, None

                lists = soup.find_all('list')

                current_rev = None
                previous_rev = None

                for item in lists:
                    account_id_tag = item.find('account_id')
                    if not account_id_tag:
                        continue
                    account_id = account_id_tag.text.strip()

                    if account_id == revenue_account:
                        thstrm = item.find('thstrm_amount')
                        frmtrm = item.find('frmtrm_amount')
                        current_rev = thstrm.text.strip() if thstrm else None
                        previous_rev = frmtrm.text.strip() if frmtrm else None
                        break

                return current_rev, previous_rev

            # CFS ì¡°íšŒ
            curr_rev, prev_rev = fetch_financial('CFS')

            # ì—†ìœ¼ë©´ OFSì—ì„œ ì¡°íšŒ
            if curr_rev is None:
                curr_rev, prev_rev = fetch_financial('OFS')

            if curr_rev is not None:
                all_dfs.append(pd.DataFrame([{
                    'corp_code': code,
                    'year': year,
                    'previous_revenue': prev_rev,
                    'current_revenue': curr_rev
                }]))

            # ì†ë„ ì œì–´
            time.sleep(0.3)
            if idx % 50 == 0:
                time.sleep(5)

        # ì—°ë„ë³„ raw DF
        if all_dfs:
            year_raw = pd.concat(all_dfs, ignore_index=True)
        else:
            year_raw = pd.DataFrame(columns=['corp_code', 'year', 'previous_revenue', 'current_revenue'])

        base_df = corp_map.copy()
        base_df['year'] = year

        year_df = base_df.merge(
            year_raw,
            on=['corp_code', 'year'],
            how='left'
        )

        # ìˆ«ìí˜• ë³€í™˜ ë° ê²°ì¸¡ê°’ ì²˜ë¦¬
        year_df['previous_revenue'] = pd.to_numeric(year_df['previous_revenue'], errors='coerce').fillna(0)
        year_df['current_revenue'] = pd.to_numeric(year_df['current_revenue'], errors='coerce').fillna(0)

        year_df = year_df[['corp_code', 'corp_name', 'year', 'previous_revenue', 'current_revenue']]

        year_dfs[year] = year_df

    # íŠœí”Œë¡œ ë°˜í™˜ (2019~2024)
    return tuple(year_dfs[year] for year in range(start_year, end_year + 1))

In [5]:
adf_2019, adf_2020, adf_2021, adf_2022, adf_2023, adf_2024 = revenue(cdf, my_key, 2019, 2024)

=== 2019ë…„ ì§„í–‰ ===

2019ë…„ ê¸°ì—… ì§„í–‰: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 731/731 [08:04<00:00,  1.51it/s]

=== 2020ë…„ ì§„í–‰ ===

2020ë…„ ê¸°ì—… ì§„í–‰: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 731/731 [07:58<00:00,  1.53it/s]

=== 2021ë…„ ì§„í–‰ ===

2021ë…„ ê¸°ì—… ì§„í–‰: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 731/731 [07:58<00:00,  1.53it/s]

=== 2022ë…„ ì§„í–‰ ===

2022ë…„ ê¸°ì—… ì§„í–‰: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 731/731 [07:52<00:00,  1.55it/s]

=== 2023ë…„ ì§„í–‰ ===

2023ë…„ ê¸°ì—… ì§„í–‰: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 731/731 [08:11<00:00,  1.49it/s]

=== 2024ë…„ ì§„í–‰ ===

2024ë…„ ê¸°ì—… ì§„í–‰: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 731/731 [08:08<00:00,  1.50it/s]

In [6]:
adf_lst = [adf_2019, adf_2020, adf_2021, adf_2022, adf_2023, adf_2024]

for i in adf_lst:
    print(len(i[(i['previous_revenue'] == 0) | (i['current_revenue'] == 0)]))

61
52
51
52
31
28

In [7]:
adf_lst = [
    adf_2019, adf_2020, adf_2021, adf_2022, adf_2023, adf_2024
]

In [8]:
for df, year in zip(adf_lst, range(2019, 2025)):
    df.to_csv(
        f'data/revenue/revenue_{year}.csv',
        float_format='%.6f',
        index=False
    )

In [9]:
adf_2018 = revenue(cdf, my_key, 2018, 2018)

=== 2018ë…„ ì§„í–‰ ===

2018ë…„ ê¸°ì—… ì§„í–‰: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 731/731 [09:46<00:00,  1.25it/s]

In [10]:
adf_2018 = adf_2018[0]
adf_2018

    corp_code  corp_name  year  previous_revenue  current_revenue
0    00365387     AJë„¤íŠ¸ì›ìŠ¤  2018          0.000000         0.000000
1    00125080      AKí™€ë”©ìŠ¤  2018          0.000000         0.000000
2    00219097        BGF  2018          0.000000         0.000000
3    01263022     BGFë¦¬í…Œì¼  2018          0.000000         0.000000
4    00858364    BNKê¸ˆìœµì§€ì£¼  2018          0.000000         0.000000
..        ...        ...   ...               ...              ...
726  00111421  íœ´ë‹ˆë“œí…Œí¬ë†€ëŸ¬ì§€ìŠ¤  2018          0.000000         0.000000
727  00362238        íœ´ë¹„ìŠ¤  2018          0.000000         0.000000
728  00156488        íœ´ìŠ¤í‹¸  2018          0.000000         0.000000
729  00103176       í¥êµ­í™”ì¬  2018          0.000000         0.000000
730  00167208       í¥ì•„í•´ìš´  2018          0.000000         0.000000

[731 rows x 5 columns]

## ë°ì´í„° ì „ì²˜ë¦¬

In [11]:
adf_2019 = pd.read_csv('data/revenue/revenue_2019.csv')
adf_2020 = pd.read_csv('data/revenue/revenue_2020.csv')
adf_2021 = pd.read_csv('data/revenue/revenue_2021.csv')
adf_2022 = pd.read_csv('data/revenue/revenue_2022.csv')
adf_2023 = pd.read_csv('data/revenue/revenue_2023.csv')
adf_2024 = pd.read_csv('data/revenue/revenue_2024.csv')

In [12]:
all_19 = pd.read_csv('data/data_clean/2019(ì—°ê°„)/2019_ì—°ê°„ë³´ê³ ì„œ_í¬ê´„ì†ìµê³„ì‚°ì„œì „ì²˜ë¦¬.txt', sep = '\t', encoding ='cp949')[['íšŒì‚¬ëª…', 'ë§¤ì¶œì•¡']]
all_20 = pd.read_csv('data/data_clean/2020ì—°ê°„/2020_ì—°ê°„ë³´ê³ ì„œ_í¬ê´„ì†ìµê³„ì‚°ì„œì „ì²˜ë¦¬.txt', sep = '\t', encoding ='cp949')[['íšŒì‚¬ëª…', 'ë§¤ì¶œì•¡']]
all_21 = pd.read_csv('data/data_clean/2021ì—°ê°„/2021_ì—°ê°„ë³´ê³ ì„œ_í¬ê´„ì†ìµê³„ì‚°ì„œì „ì²˜ë¦¬.txt', sep = '\t', encoding ='cp949')[['íšŒì‚¬ëª…', 'ë§¤ì¶œì•¡']]
all_22 = pd.read_csv('data/data_clean/2022ì—°ê°„/2022_ì—°ê°„ë³´ê³ ì„œ_í¬ê´„ì†ìµê³„ì‚°ì„œì „ì²˜ë¦¬.txt', sep = '\t', encoding ='cp949')[['íšŒì‚¬ëª…', 'ë§¤ì¶œì•¡']]
all_23 = pd.read_csv('data/data_clean/2023ì—°ê°„/2023_ì—°ê°„ë³´ê³ ì„œ_í¬ê´„ì†ìµê³„ì‚°ì„œì „ì²˜ë¦¬.txt', sep = '\t', encoding ='cp949')[['íšŒì‚¬ëª…', 'ë§¤ì¶œì•¡']]
all_24 = pd.read_csv('data/data_clean/2024ì—°ê°„/2024_ì—°ê°„ë³´ê³ ì„œ_í¬ê´„ì†ìµê³„ì‚°ì„œì „ì²˜ë¦¬.txt', sep = '\t', encoding ='cp949')[['íšŒì‚¬ëª…', 'ë§¤ì¶œì•¡']]

In [13]:
new_19 = pd.read_csv('data/data_clean/2019(ì—°ê°„)/2019_ì—°ê°„ë³´ê³ ì„œ_ì†ìµê³„ì‚°ì„œì „ì²˜ë¦¬.txt', sep = '\t', encoding ='cp949')[['íšŒì‚¬ëª…', 'ë§¤ì¶œì•¡']]
new_20 = pd.read_csv('data/data_clean/2020ì—°ê°„/2020_ì—°ê°„ë³´ê³ ì„œ_ì†ìµê³„ì‚°ì„œì „ì²˜ë¦¬.txt', sep = '\t', encoding ='cp949')[['íšŒì‚¬ëª…', 'ë§¤ì¶œì•¡']]
new_21 = pd.read_csv('data/data_clean/2021ì—°ê°„/2021_ì—°ê°„ë³´ê³ ì„œ_ì†ìµê³„ì‚°ì„œì „ì²˜ë¦¬.txt', sep = '\t', encoding ='cp949')[['íšŒì‚¬ëª…', 'ë§¤ì¶œì•¡']]
new_22 = pd.read_csv('data/data_clean/2022ì—°ê°„/2022_ì—°ê°„ë³´ê³ ì„œ_ì†ìµê³„ì‚°ì„œì „ì²˜ë¦¬.txt', sep = '\t', encoding ='cp949')[['íšŒì‚¬ëª…', 'ë§¤ì¶œì•¡']]
new_23 = pd.read_csv('data/data_clean/2023ì—°ê°„/2023_ì—°ê°„ë³´ê³ ì„œ_ì†ìµê³„ì‚°ì„œì „ì²˜ë¦¬.txt', sep = '\t', encoding ='cp949')[['íšŒì‚¬ëª…', 'ë§¤ì¶œì•¡']]
new_24 = pd.read_csv('data/data_clean/2024ì—°ê°„/2024_ì—°ê°„ë³´ê³ ì„œ_ì†ìµê³„ì‚°ì„œì „ì²˜ë¦¬.txt', sep = '\t', encoding ='cp949')[['íšŒì‚¬ëª…', 'ë§¤ì¶œì•¡']]

In [14]:
ca_19 = adf_2019[(adf_2019['previous_revenue'] == 0) | (adf_2019['current_revenue'] == 0)]
ca_20 = adf_2020[(adf_2020['previous_revenue'] == 0) | (adf_2020['current_revenue'] == 0)]
ca_21 = adf_2021[(adf_2021['previous_revenue'] == 0) | (adf_2021['current_revenue'] == 0)]
ca_22 = adf_2022[(adf_2022['previous_revenue'] == 0) | (adf_2022['current_revenue'] == 0)]
ca_23 = adf_2023[(adf_2023['previous_revenue'] == 0) | (adf_2023['current_revenue'] == 0)]
ca_24 = adf_2024[(adf_2024['previous_revenue'] == 0) | (adf_2024['current_revenue'] == 0)]

In [15]:
print(
len(ca_19), len(ca_20), len(ca_21), len(ca_22), len(ca_23), len(ca_24)
)

61 52 51 52 31 28

In [16]:
adf_columns = ['corp_name', 'current_revenue']
all_19.columns = adf_columns
all_20.columns = adf_columns
all_21.columns = adf_columns
all_22.columns = adf_columns
all_23.columns = adf_columns
all_24.columns = adf_columns
all_19

     corp_name     current_revenue
0           3S  11086501016.000000
1       AJë„¤íŠ¸ì›ìŠ¤ 300085588553.000000
2        AKí™€ë”©ìŠ¤  20935560773.000000
3          APS                 NaN
4        APì‹œìŠ¤í…œ 219323441981.000000
...        ...                 ...
2685        í¥êµ­  51790956507.000000
2686    í¥êµ­ì—í”„ì—”ë¹„                 NaN
2687      í¥ì•„í•´ìš´  77832743695.000000
2688        í¬ë¦¼ 113948352190.000000
2689        í˜ìŠ¤  31784097220.000000

[2690 rows x 2 columns]

In [17]:
adf_columns = ['corp_name', 'current_revenue']
new_19.columns = adf_columns
new_20.columns = adf_columns
new_21.columns = adf_columns
new_22.columns = adf_columns
new_23.columns = adf_columns
new_24.columns = adf_columns
new_19

    corp_name      current_revenue
0          CJ  181742606000.000000
1      CJëŒ€í•œí†µìš´ 6596274009485.000000
2       DBí•˜ì´í…  807416422918.000000
3         DSR                  NaN
4          GS                  NaN
..        ...                  ...
193      í˜¸í…”ì‹ ë¼                  NaN
194      í™”ì²œê¸°ê³„  159658282529.000000
195     íš¨ì„±í‹°ì•¤ì”¨ 3739477556452.000000
196      íš¨ì„±í™”í•™ 1813137241909.000000
197     íœ˜ë‹‰ìŠ¤ì†Œì¬   13301419259.000000

[198 rows x 2 columns]

In [18]:
cadf_2018 = adf_2018.copy()
cadf_2019 = adf_2019.copy()
cadf_2020 = adf_2020.copy()
cadf_2021 = adf_2021.copy()
cadf_2022 = adf_2022.copy()
cadf_2023 = adf_2023.copy()
cadf_2024 = adf_2024.copy()

In [19]:
cadf_lst = [cadf_2019, cadf_2020, cadf_2021, cadf_2022, cadf_2023, cadf_2024]
all_lst = [all_19, all_20, all_21, all_22, all_23, all_24]
new_lst = [new_19, new_20, new_21, new_22, new_23, new_24]

for cdf, adf, ndf in zip(cadf_lst, all_lst, new_lst):
    cdf = cdf.merge(
    adf[['corp_name', 'current_revenue']],
    on='corp_name',
    how='left')
    
    cdf = cdf.merge(
    ndf[['corp_name', 'current_revenue']],
    on='corp_name',
    how='left')
    
    mask_a = cdf['current_revenue_y'].notnull()
    mask_n = (cdf['current_revenue_x'] == 0) & (cdf['current_revenue'].notnull())
    
    cdf.loc[mask_a, 'current_revenue_x'] = cdf.loc[mask_a, 'current_revenue_y']
    cdf.loc[mask_n, 'current_revenue_x'] = cdf.loc[mask_n, 'current_revenue']
    
    cdf = cdf.drop(['current_revenue_y', 'current_revenue'], axis = 1)
    cdf.columns = ['corp_code', 'corp_name', 'year', 'previous_revenue', 'current_revenue']
    
    print(len(cdf[(cdf['previous_revenue'] == 0) | (cdf['current_revenue'] == 0)]))

61
52
51
52
31
28

In [20]:
n2019 = cadf_2019[(cadf_2019['previous_revenue'] == 0) | (cadf_2019['current_revenue'] == 0)]
n2020 = cadf_2020[(cadf_2020['previous_revenue'] == 0) | (cadf_2020['current_revenue'] == 0)]
n2021 = cadf_2021[(cadf_2021['previous_revenue'] == 0) | (cadf_2021['current_revenue'] == 0)]
n2022 = cadf_2022[(cadf_2022['previous_revenue'] == 0) | (cadf_2022['current_revenue'] == 0)]
n2023 = cadf_2023[(cadf_2023['previous_revenue'] == 0) | (cadf_2023['current_revenue'] == 0)]
n2024 = cadf_2024[(cadf_2024['previous_revenue'] == 0) | (cadf_2024['current_revenue'] == 0)]

In [21]:
print(
len(n2019), len(n2020), len(n2021), len(n2022), len(n2023), len(n2024))

61 52 51 52 31 28

In [22]:
cadf_2019[(cadf_2019['previous_revenue'] == 0) & (cadf_2019['current_revenue'] == 0)]

     corp_code corp_name  year  previous_revenue  current_revenue
4       858364   BNKê¸ˆìœµì§€ì£¼  2019          0.000000         0.000000
13      159102    DBì†í•´ë³´í—˜  2019          0.000000         0.000000
14      115694      DBì¦ê¶Œ  2019          0.000000         0.000000
51      980122    JBê¸ˆìœµì§€ì£¼  2019          0.000000         0.000000
56      688996      KBê¸ˆìœµ  2019          0.000000         0.000000
..         ...       ...   ...               ...              ...
685     148610    í•œí™”íˆ¬ìì¦ê¶Œ  2019          0.000000         0.000000
702     137997     í˜„ëŒ€ì°¨ì¦ê¶Œ  2019          0.000000         0.000000
705     164973      í˜„ëŒ€í•´ìƒ  2019          0.000000         0.000000
707     441243     í˜•ì§€ì—˜ë¦¬íŠ¸  2019          0.000000         0.000000
729     103176      í¥êµ­í™”ì¬  2019          0.000000         0.000000

[61 rows x 5 columns]

In [23]:
# ì´ì „ ì—°ë„ ë¦¬ìŠ¤íŠ¸ (t)
prev_lst = [
    cadf_2018,
    cadf_2019,
    cadf_2020,
    cadf_2021,
    cadf_2022,
    cadf_2023
]

# ë‹¤ìŒ ì—°ë„ ë¦¬ìŠ¤íŠ¸ (t+1)
next_lst = [
    cadf_2019,
    cadf_2020,
    cadf_2021,
    cadf_2022,
    cadf_2023,
    cadf_2024
]

# ğŸ”¥ ì´ì „ â†’ ë‹¤ìŒ ë‹¨ë°©í–¥ ë³´ì™„
for prev_df, next_df in zip(prev_lst, next_lst):

    mask = (
        (next_df['previous_revenue'] == 0) &
        (prev_df['current_revenue'] != 0)
    )

    next_df.loc[mask, 'previous_revenue'] = \
        prev_df.loc[mask, 'current_revenue']

In [24]:
cadf_2020.loc[
    (cadf_2020['previous_revenue'] == 0) &
    (cadf_2020['current_revenue'] != 0),
    ['corp_name', 'previous_revenue', 'current_revenue']
]

Empty DataFrame
Columns: [corp_name, previous_revenue, current_revenue]
Index: []

In [25]:
cadf_2020.loc[
    cadf_2020['previous_revenue'] < 1,
    'previous_revenue'
].describe()

count   50.000000
mean     0.000000
std      0.000000
min      0.000000
25%      0.000000
50%      0.000000
75%      0.000000
max      0.000000
Name: previous_revenue, dtype: float64

In [26]:
cadf_2020[['previous_revenue', 'current_revenue']].dtypes

previous_revenue    float64
current_revenue     float64
dtype: object

In [27]:
cadf_2020.loc[
    cadf_2020['previous_revenue'] == 0,
    ['corp_name', 'previous_revenue', 'current_revenue']
]

     corp_name  previous_revenue  current_revenue
4      BNKê¸ˆìœµì§€ì£¼          0.000000         0.000000
13      DBì†í•´ë³´í—˜          0.000000         0.000000
14        DBì¦ê¶Œ          0.000000         0.000000
51      JBê¸ˆìœµì§€ì£¼          0.000000         0.000000
56        KBê¸ˆìœµ          0.000000         0.000000
89      NHíˆ¬ìì¦ê¶Œ          0.000000         0.000000
90        NICE          0.000000         0.000000
114       SKì¦ê¶Œ          0.000000         0.000000
131     iMê¸ˆìœµì§€ì£¼          0.000000         0.000000
153       êµë³´ì¦ê¶Œ          0.000000         0.000000
169       ê¸°ì—…ì€í–‰          0.000000         0.000000
187     ë‹¤ì˜¬íˆ¬ìì¦ê¶Œ          0.000000         0.000000
202       ëŒ€ì‹ ì¦ê¶Œ          0.000000         0.000000
206         ëŒ€ì›…          0.000000         0.000000
225     ë”ë¸”ìœ ê²Œì„ì¦ˆ          0.000000         0.000000
243       ë™ì–‘ìƒëª…          0.000000         0.000000
264     ë¡¯ë°ì†í•´ë³´í—˜          0.000000         0.000000
276    ë©”ë¦¬ì¸ ê¸ˆìœµì§€ì£¼          0.000000         0.000000
290     ë¯¸ë˜ì—ì…‹ìƒëª…          0.000000         0.000000
291     ë¯¸ë˜ì—ì…‹ì¦ê¶Œ          0.000000         0.000000
306       ë¶€êµ­ì¦ê¶Œ          0.000000         0.000000
325       ì‚¼ì„±ìƒëª…          0.000000         0.000000
331       ì‚¼ì„±ì¦ê¶Œ          0.000000         0.000000
333       ì‚¼ì„±ì¹´ë“œ          0.000000         0.000000
334   ì‚¼ì„±í™”ì¬í•´ìƒë³´í—˜          0.000000         0.000000
358      ìƒìƒì¸ì¦ê¶Œ          0.000000         0.000000
402       ì‹ ì˜ì¦ê¶Œ          0.000000         0.000000
407       ì‹ í•œì§€ì£¼          0.000000         0.000000
422     ì•„ì´ì—ì´ì¹˜í          0.000000         0.000000
457     ìš°ë¦¬ê¸ˆìœµì§€ì£¼          0.000000         0.000000
475      ìœ ìˆ˜í™€ë”©ìŠ¤          0.000000         0.000000
476      ìœ ì•ˆíƒ€ì¦ê¶Œ          0.000000         0.000000
479       ìœ ì§„ì¦ê¶Œ          0.000000         0.000000
481       ìœ í™”ì¦ê¶Œ          0.000000         0.000000
521       ì œì£¼ì€í–‰          0.000000         0.000000
547        ì¹´ì¹´ì˜¤          0.000000         0.000000
555  ì¼€ì´í‹°ìŠ¤ì¹´ì´ë¼ì´í”„          0.000000         0.000000
558       ì½”ë¦¬ì•ˆë¦¬          0.000000         0.000000
576       í‚¤ì›€ì¦ê¶Œ          0.000000         0.000000
611     í•˜ë‚˜ê¸ˆìœµì§€ì£¼          0.000000         0.000000
619     í•œêµ­ê¸ˆìœµì§€ì£¼          0.000000         0.000000
627     í•œêµ­ìì‚°ì‹ íƒ          0.000000         0.000000
638     í•œêµ­í† ì§€ì‹ íƒ          0.000000         0.000000
663       í•œì–‘ì¦ê¶Œ          0.000000         0.000000
679       í•œí™”ìƒëª…          0.000000         0.000000
680     í•œí™”ì†í•´ë³´í—˜          0.000000         0.000000
685     í•œí™”íˆ¬ìì¦ê¶Œ          0.000000         0.000000
702      í˜„ëŒ€ì°¨ì¦ê¶Œ          0.000000         0.000000
705       í˜„ëŒ€í•´ìƒ          0.000000         0.000000
729       í¥êµ­í™”ì¬          0.000000         0.000000

In [28]:
cadf_2019[cadf_2019['corp_name'] == 'SGCì—ë„ˆì§€']
cadf_2020[cadf_2020['corp_name'] == 'SGCì—ë„ˆì§€']

     corp_code corp_name  year    previous_revenue     current_revenue
100     125150    SGCì—ë„ˆì§€  2020 284244834792.000000 106548366582.000000

In [29]:
cadf_2018

    corp_code  corp_name  year  previous_revenue  current_revenue
0    00365387     AJë„¤íŠ¸ì›ìŠ¤  2018          0.000000         0.000000
1    00125080      AKí™€ë”©ìŠ¤  2018          0.000000         0.000000
2    00219097        BGF  2018          0.000000         0.000000
3    01263022     BGFë¦¬í…Œì¼  2018          0.000000         0.000000
4    00858364    BNKê¸ˆìœµì§€ì£¼  2018          0.000000         0.000000
..        ...        ...   ...               ...              ...
726  00111421  íœ´ë‹ˆë“œí…Œí¬ë†€ëŸ¬ì§€ìŠ¤  2018          0.000000         0.000000
727  00362238        íœ´ë¹„ìŠ¤  2018          0.000000         0.000000
728  00156488        íœ´ìŠ¤í‹¸  2018          0.000000         0.000000
729  00103176       í¥êµ­í™”ì¬  2018          0.000000         0.000000
730  00167208       í¥ì•„í•´ìš´  2018          0.000000         0.000000

[731 rows x 5 columns]

In [30]:
cadf_lst = [cadf_2019, cadf_2020, cadf_2021, cadf_2022, cadf_2023, cadf_2024]

for df, year in zip(cadf_lst, range(2019, 2025)):
    df.to_csv(
        f'data/revenue/revenue_{year}.csv',
        float_format='%.6f',
        index=False
    )