## 외국인지분률

In [1]:
import pandas as pd
import requests
import json
import numpy as np
from bs4 import BeautifulSoup
from datetime import datetime
from dateutil.relativedelta import relativedelta
from tqdm import tqdm
import time
time.sleep(0.3)
from pykrx import stock
pd.options.display.float_format = '{:.6f}'.format

In [4]:
cdf = pd.read_csv('data/company_name_and_code.csv', index_col = 0)
cdf

     corp_code  corp_name  stock_code
0       365387     AJ네트웍스       95570
1       125080      AK홀딩스        6840
2       219097        BGF       27410
3      1263022     BGF리테일      282330
4       858364    BNK금융지주      138930
..         ...        ...         ...
726     111421  휴니드테크놀러지스        5870
727     362238        휴비스       79980
728     156488        휴스틸        5010
729     103176       흥국화재         540
730     167208       흥아해운        3280

[731 rows x 3 columns]

In [7]:
cdf.loc[:, 'stock_code'] = cdf['stock_code'].astype(str).str.strip().str.zfill(6)
cdf['stock_code']

C:\Users\USER\AppData\Local\Temp\ipykernel_16124\3437129154.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['095570' '006840' '027410' '282330' '138930' '001460' '001040' '079160'
 '000120' '011150' '097950' '000590' '012030' '005830' '016610' '000990'
 '015590' '000210' '007340' '004840' '155660' '069730' '092780' '017940'
 '007700' '114090' '078930' '006360' '001250' '007070' '012630' '039570'
 '089470' '294870' '009540' '267250' '267270' '071970' '010620' '042670'
 '267260' '097230' '014790' '003580' '204320' '060980' '011200' '035000'
 '002460' '298050' '015360' '175330' '234080' '001060' '096760' '008970'
 '105560' '009440' '119650' '092220' '016380' '001390' '033180' '001940'
 '025000' '092230' '000040' '044450' '058850' '058860' '093050' '003550'
 '034220' '051900' '032640' '011070' '066570' '037560' '051910' '079550'
 '006260' '000680' '229640' '108320' '001120' '108670' '023150' '035420'
 '181710' '005940' '034310' '030190' '008260' '010060' '178920' '001340'
 '005490' '010950' '034120' '003080' '005090' '001380' '004060' '001770'
 '002360' '009160' '033530' '034730' '011790' '018670' '001740' '006120'
 '210980' '096770' '001510' '285130' '017670' '000660' '003570' '064960'
 '100840' '036530' '005610' '011810' '077970' '002820' '002710' '007980'
 '002900' '024070' '037270' '139130' '000500' '000860' '035250' '011420'
 '002100' '009450' '267290' '012320' '000050' '214390' '012610' '009140'
 '013580' '012200' '002140' '010130' '002240' '009290' '017040' '017900'
 '037710' '030610' '007690' '001140' '002720' '083420' '014530' '014280'
 '008870' '001570' '002990' '011780' '214330' '001210' '073240' '092440'
 '000270' '024110' '013700' '004540' '001260' '008350' '004270' '003920'
 '025860' '005720' '002350' '251270' '090350' '000320' '006280' '005250'
 '004370' '072710' '058730' '030210' '023590' '145210' '019680' '006370'
 '008060' '000490' '008110' '005750' '006570' '001680' '084690' '128820'
 '117580' '016710' '003540' '009190' '014160' '047040' '003090' '069620'
 '000430' '006340' '003220' '024890' '012800' '015230' '001070' '006650'
 '001440' '084010' '001790' '001130' '003490' '005880' '003830' '016090'
 '069460' '192080' '012510' '004830' '145720' '002150' '001230' '023450'
 '004140' '007590' '005960' '026960' '002210' '102260' '000640' '170900'
 '028100' '001520' '084670' '082640' '018500' '006040' '030720' '014820'
 '163560' '004890' '002690' '000020' '000150' '241560' '034020' '016740'
 '024090' '003160' '001530' '092200' '013570' '024900' '210540' '032350'
 '000400' '023530' '020150' '280360' '286940' '004000' '004990' '005300'
 '011170' '071840' '027740' '001080' '138040' '090370' '118000' '017180'
 '012690' '005360' '070960' '009680' '009580' '009200' '033920' '008420'
 '025560' '007120' '085620' '006800' '081660' '002840' '268280' '107590'
 '134380' '003650' '003610' '035150' '002410' '007210' '002760' '003850'
 '000890' '003000' '001270' '026940' '011390' '005030' '006740' '002070'
 '100220' '005180' '003960' '008040' '007160' '014710' '006090' '001470'
 '028050' '006400' '006660' '028260' '207940' '032830' '018260' '009150'
 '005930' '001360' '010140' '016360' '068290' '029780' '000810' '006110'
 '145990' '003230' '002170' '272550' '000070' '003720' '002810' '005680'
 '023000' '004380' '002450' '004440' '000520' '009770' '005500' '004690'
 '010960' '004450' '009470' '011230' '001820' '000390' '001290' '041650'
 '075180' '007540' '248170' '007860' '200880' '017390' '004410' '021050'
 '008490' '007610' '136490' '014910' '004980' '011300' '000180' '002420'
 '004360' '004490' '001430' '306200' '003030' '019440' '058650' '013000'
 '021820' '067830' '075580' '068270' '004430' '017550' '134790' '000480'
 '016590' '029530' '004970' '011930' '004170' '035510' '031430' '031440'
 '006880' '005800' '001720' '009270' '002700' '002870' '019170' '055550'
 '004080' '004770' '004920' '112610' '008700' '090430' '002790' '002030'
 '183190' '002310' '267850' '020560' '122900' '010780' '003560' '031820'
 '009320' '001780' '018250' '161000' '011090' '005850' '012750' '123700'
 '025530' '326030' '023960' '298690' '078520' '015260' '007460' '003060'
 '036570' '085310' '004250' '066970' '010120' '014440' '111770' '009970'
 '003520' '000670' '012280' '012160' '007310' '002630' '271560' '001800'
 '005320' '316140' '006980' '017370' '105840' '010400' '049800' '016880'
 '095720' '005820' '010600' '008600' '033270' '014830' '000910' '047400'
 '011330' '077500' '002920' '000700' '003470' '072130' '000220' '001200'
 '000100' '003460' '008730' '008250' '025820' '214320' '139480' '007660'
 '005950' '015020' '074610' '102460' '084680' '000760' '014990' '101140'
 '006490' '023800' '034590' '129260' '023810' '249420' '000230' '013360'
 '003120' '003200' '007110' '007570' '008500' '081000' '020760' '103590'
 '015860' '226320' '033240' '000950' '194370' '030000' '271980' '001560'
 '002620' '006220' '089590' '004910' '004700' '001550' '120030' '018470'
 '002600' '185750' '063160' '001630' '109070' '044380' '013870' '071320'
 '088790' '003780' '010640' '100250' '051630' '272450' '011000' '002780'
 '009310' '000650' '033250' '035720' '006380' '001620' '029460' '002380'
 '281820' '009070' '030200' '053210' '033780' '007810' '003690' '192820'
 '044820' '005070' '005420' '071950' '002020' '138490' '003070' '120110'
 '021240' '036420' '024720' '192400' '284740' '264900' '005740' '020120'
 '039490' '014580' '015890' '006890' '003240' '011280' '004100' '009410'
 '001420' '055490' '078000' '214420' '084870' '019180' '091810' '004870'
 '069260' '034230' '005690' '036580' '004720' '028670' '010820' '016800'
 '001020' '090080' '010770' '022100' '058430' '047050' '003670' '017810'
 '103140' '005810' '009810' '086790' '293480' '039130' '071090' '000080'
 '000140' '036460' '005430' '071050' '010040' '025540' '010100' '004090'
 '002200' '002960' '000240' '123890' '015760' '006200' '027970' '023350'
 '025890' '000970' '104700' '017960' '161890' '161390' '034830' '007280'
 '047810' '123690' '003350' '011500' '002390' '053690' '042700' '008930'
 '128940' '009240' '020000' '003680' '105630' '069640' '016450' '009180'
 '213500' '014680' '004710' '004150' '025750' '004960' '011700' '001750'
 '018880' '009420' '014130' '300720' '002220' '003300' '051600' '052690'
 '130660' '002320' '003480' '180640' '005110' '009460' '000880' '088350'
 '000370' '009830' '012450' '082740' '042660' '003530' '195870' '101530'
 '143210' '000720' '086280' '064350' '079430' '012330' '069960' '004560'
 '004310' '017800' '011210' '005380' '004020' '005440' '001500' '011760'
 '227840' '001450' '057050' '093240' '003010' '111110' '008770' '241590'
 '006060' '013520' '010690' '133820' '010660' '000850' '016580' '032560'
 '004800' '094280' '298040' '298020' '298000' '093370' '005870' '079980'
 '005010' '000540' '003280']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  cdf.loc[:, 'stock_code'] = cdf['stock_code'].astype(str).str.strip().str.zfill(6)

0      095570
1      006840
2      027410
3      282330
4      138930
        ...
726    005870
727    079980
728    005010
729    000540
730    003280
Name: stock_code, Length: 731, dtype: object

In [6]:
df_foreign_2019 = stock.get_exhaustion_rates_of_foreign_investment("20191230")
df_foreign_2019 = df_foreign_2019.reset_index()
df_foreign_2019 = df_foreign_2019.drop(['상장주식수', '보유수량', '한도수량', '한도소진률'], axis = 1)
df_foreign_2019.columns = ['stock_code', 'foreign_ownership_ratio']
df_foreign_2019

    stock_code  foreign_ownership_ratio
0       000020                 5.718750
1       000040                16.390625
2       000050                 1.870117
3       000060                13.132812
4       000070                 8.273438
..         ...                      ...
911     336370                 7.390625
912     33637K                 2.560547
913     33637L                 0.000000
914     338100                 0.330078
915     900140                 3.089844

[916 rows x 2 columns]

In [13]:
df_f_2019 = cdf.merge(right = df_foreign_2019, on = 'stock_code', how = 'left').fillna(0)

In [14]:
df_f_2019.isnull().sum()

corp_code                  0
corp_name                  0
stock_code                 0
foreign_ownership_ratio    0
dtype: int64

In [15]:
def foreign(cdf, start_date = 2019, end_date = 2024):
    result_lst = []
    cdf.loc[:, 'stock_code'] = cdf['stock_code'].astype(str).str.strip().str.zfill(6)
    
    for year in range(start_date, end_date +1):
        if year == 2023:
            df = stock.get_exhaustion_rates_of_foreign_investment(f"{year}1228")
            
        elif year == 2022:
            df = stock.get_exhaustion_rates_of_foreign_investment(f"{year}1229")
            
        else:
            df = stock.get_exhaustion_rates_of_foreign_investment(f"{year}1230")        
        
        df = df.reset_index()
        df = df.drop(['상장주식수', '보유수량', '한도수량', '한도소진률'], axis = 1)
        df.columns = ['stock_code', 'foreign_ownership_ratio']
        
        df = cdf.merge(right = df_foreign_2019, on = 'stock_code', how = 'left').fillna(0)
        
        result_lst.append(df)
        
    return result_lst

In [16]:
foreign_2019, foreign_2020, foreign_2021, foreign_2022, foreign_2023, foreign_2024 = foreign(cdf, 2019, 2024)

In [23]:
foreign_lst = [foreign_2019, foreign_2020, foreign_2021, foreign_2022, foreign_2023, foreign_2024]

for year, df in zip(range(2019, 2025), foreign_lst):
    df.to_csv(f'data/foreign/foreign_ownership_ratio_{year}.csv')